spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3308/atto?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 16

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MariaDB106Dialect
    properties:
      default_batch_fetch_size: 1000
      hibernate:
        format_sql: true

flyway:
  enabled: true
  baseline-on-migrate: true
  url: jdbc:mariadb://localhost:3308/atto?serverTimezone=UTC&characterEncoding=UTF-8
  user: root
  password: 1234

server:
  port: 8080
